<template>
    <div class="profile">
        <div v-if="user.id">

            <div class="row">
                <div class="col-xl-4">

                    <div class="sticky-top pt-4">
                        <div class="profile-card">
                            <div class="profile-header overflow-hidden">
                                <router-link v-if="user.can_update_profile" class="btn btn-outline-primary edit-button" :to="$store.getters['profile/editRoute']">
                                    <span class="fal fa-pencil mr-1"></span> Edit
                                </router-link>

                                <profile-photo :user="user" size="200px" class="mx-auto animated bounce-in-down speed-2" />

                                <div class="profile-title">
                                    <h2>{{ user.name }}</h2>
                                    <h6 class="font-weight-bold">{{ user.job_title }}</h6>
                                    <h6>{{ user.office }}, {{ user.country }}</h6>

                                    <p class="fabs animated bounce-in-up speed-2">
                                        <router-link class="btn btn-outline-primary fab" :to="cvBuilderRoute">
                                            <span class="fal fa-fw" :class="$store.state.icons.cv_builder"></span>
                                            <span class="fab-label">Build CV</span>
                                        </router-link>
                                        <router-link class="btn btn-outline-primary fab" :to="teamRoute">
                                            <span class="fal fa-fw" :class="$store.state.icons.team"></span>
                                            <span class="fab-label">Team</span>
                                        </router-link>
                                        <a class="btn btn-outline-primary fab" :href="'mailto:' + user.email">
                                            <span class="fal fa-fw fa-envelope"></span>
                                            <span class="fab-label">Email</span>
                                        </a>
                                        <a v-if="user.linkedin_url" :href="user.linkedin_url" target="_blank" class="btn btn-outline-primary fab">
                                            <span class="fal fa-fw fa-link"></span>
                                            <span class="fab-label">LinkedIn</span>
                                        </a>
                                        <button v-if="user.can_impersonate" @click="loginAs" class="btn btn-outline-dark fab">
                                            <span class="fal fa-fw fa-sign-in-alt"></span>
                                            <span class="fab-label">Login As</span>
                                        </button>
                                    </p>
                                </div>
                            </div>

                            <table class="table table-striped table-borderless mt-5 th-right">
                                <tbody>
                                    <template v-if="$store.state.user.is_admin_or_superadmin">
                                    <tr>
                                        <th class="text-muted">Usercode</th>
                                        <td>{{ user.usercode }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted">Employee Number</th>
                                        <td>{{ user.employee_number }}</td>
                                    </tr>
                                    </template>
                                    <tr>
                                        <th>Years of Experience</th>
                                        <td>{{ user.years_of_experience }}</td>
                                    </tr>
                                    <tr>
                                        <th>Manager</th>
                                        <td>
                                            <router-link
                                                v-if="user.manager_id"
                                                :to="$store.getters['profile/managerProfileRoute']"
                                            >{{ user.manager_name }}</router-link>
                                        </td>
                                    </tr>
                                    <tr v-for="group in user.business_groups" :key="group.id">
                                        <th>{{ group.name }}</th>
                                        <td>{{ group.value.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone</th>
                                        <td>{{ user.phone }}</td>
                                    </tr>
                                    <tr>
                                        <th>Mobile</th>
                                        <td>{{ user.mobile }}</td>
                                    </tr>
                                    <tr>
                                        <th>Profile Last Updated</th>
                                        <td><timestamp :value="$store.state.profile.profileLastUpdated"></timestamp></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
                <div class="col-xl-8 pt-4">

                    <div v-if="primaryDescription" class="mb-4 nl2br">{{ primaryDescription.description }}</div>

                    <accordion name="profile-accordion" :items="visibleSections" v-model="activeAccordionTab"></accordion>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import pageMixin from 'pages/pageMixin'
    import Accordion from 'components/accordion/Accordion'
    import profileStore from './store'

    export default {
        mixins: [pageMixin],

        components: {
            Accordion
        },

        data() {
            return {
                activeAccordionTab: null,
            }
        },

        computed: {
            user() {
                if (!this.$store.state.profile) return null
                return this.$store.state.profile.user
            },

            primaryDescription() {
                if (!this.user) return
                return this.user.profile_descriptions.find(d => d.is_primary) || this.user.profile_descriptions[0]
            },

            visibleSections() {
                if (!this.user) return []

                return this.$store.getters['profile/sections'].filter(section => {
                    switch (section.key) {
                        case 'pmaf':
                            return this.user.num_pmafs > 0
                        default:
                            return true
                    }
                })
            },

            cvBuilderRoute() {
                return {
                    name: 'cv_builder',
                    params: {
                        id: this.user.id
                    }
                }
            },

            teamRoute() {
                return {
                    name: 'team',
                    params: {
                        id: this.user.employees_count ? this.user.id : this.user.manager_id
                    }
                }
            },

            profileImage() {
                return `${globals.app.url}/staff-photos/${this.user.usercode}.jpg`
            }
        },

        methods: {
            async loadPageData(userId) {
                // Load user profile data (defaults to own profile if no specific id given)
                let user = await this.$store.dispatch('profile/loadUser', userId || this.$store.state.user.id)
                if (!user) {
                    this.$router.replace('/profile')
                }

                this.$store.dispatch('setPageInfo', {
                    title: user.name,
                    showTitle: false
                })
            },

            loginAs() {
                this.$store.dispatch('login', this.user.id)
            }
        },

        watch: {
            visibleSections(sections) {
                // Try auto-open a default tab?
                if (this.activeAccordionTab == null && location.hash) {
                    let hash = location.hash.replace('#', '')
                    let idx = sections.findIndex(s => s.key == hash)
                    this.activeAccordionTab = idx !== -1 ? idx : null
                }
            }
        },

        created() {
            this.$store.dispatch('clearPageInfo')
            this.$store.registerModule('profile', profileStore)
        },

        destroyed() {
            this.$store.unregisterModule('profile')
        }
    }
</script>

<style lang="scss">
    @import "~_variables.scss";

    body {
        // Want page content to stop shifting slightly when the accordions are opened and closed
        overflow-y: scroll;
    }

    .profile {
        .profile-card {
            position: relative;

            .edit-button {
                position: absolute;
                right: 0px;
            }

            .profile-title {
                text-align: center;

                h2 {
                    margin: 20px 0;
                }
            }

            .fabs {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 20px;
            }
        }
    }
</style>