<template>
    <profile-entity-manager
        ref="manager"
        resource="user-capabilities"
        entity="Capability"
        :column-builder="columnBuilder"
        :table-filters="capabilityTableFilters"
        :table-config="capabilityTableConfig"
        :prepare-form="prepareFormData"
        :get="getFormData"
        edit-only
        @loaded="$emit('loaded')"
    >

        <template #heading>
            <h5 v-if="!filteredStatus"><span class="fal fa-fw mr-1" :class="$store.state.icons.capability"></span> Showing All Capabilities</h5>
            <h5 v-else :class="'text-' + filteredStatus.meta1">
                <span :class="filteredStatus.meta2" class="fal fa-fw mr-1"></span> Showing {{ filteredStatus.value }} Capabilities
            </h5>
        </template>

        <template v-slot:default="slotProps">
            <div class="form-group" v-if="slotProps.form.requested_level">
                <label for="change_rating">Change rating</label>
                <capability-level-buttons v-model="slotProps.form.requested_level" show-interest id="change_rating" />
                <p class="form-text">Any rating changes will need to be approved by your line manager. Capability will show as <strong>pending</strong> until approved by your manager.</p>
                <p class="form-text"><a @click.prevent="showRatingInfoModal = true" href="#">Click here</a> for more information on each rating level.</p>
            </div>
            <div class="form-group">
                <label for="comments">Comments</label>
                <input v-model="slotProps.form.comments" type="text" class="form-control" placeholder="Additional comments..." id="comments">
            </div>
            <div class="form-group">
                <label for="comments"><abbr v-b-tooltip.noninteractive title="Attach any additional evidence to help with the approval process if required">Evidence</abbr></label>
                <file-input v-model="slotProps.form.evidence" placeholder="Select a file..." />
            </div>

            <rating-info-modal v-model="showRatingInfoModal" />
        </template>

        <template #datatable-controls>
            <form class="form-inline">
                <select v-model="capabilityTableFilters.status_id" class="form-control form-control-sm">
                    <option :value="null">Any Status</option>
                    <option v-for="status in $store.state.lookups.capability_status" :value="status.id" :key="status.id">
                        {{ status.value }}
                    </option>
                </select>
                <select v-model="capabilityTableFilters.level" class="form-control form-control-sm ml-1">
                    <option :value="null">Any Level</option>
                    <option v-for="level in $store.state.app.rules.rating_levels" :value="level" :key="level">
                        {{ level }}
                    </option>
                </select>
            </form>
        </template>

        <template v-if="$store.state.profile.user.can_update_profile" #actions>
            <router-link :to="addCapabilitiesRoute" class="btn btn-primary">
                <span class="fal fa-plus mr-1"></span> Add Capabilities
            </router-link>
        </template>

    </profile-entity-manager>
</template>

<script>
    import DatatableColumnBuilder from 'components/datatables/datatableColumnBuilder'
    import CapabilityLevelButtons from 'components/CapabilityLevelButtons'
    import ProfileEntityManager from '../ProfileEntityManager'
    import RatingInfoModal from 'components/RatingInfoModal'
    import { fileTemplateFromMedia } from 'utils/misc'
    import { customBadge } from 'utils/html'

    export default {
        components: {
            ProfileEntityManager,
            CapabilityLevelButtons,
            RatingInfoModal
        },

        data() {
            return {
                showRatingInfoModal: false,

                colors: this.$store.state.app.rules.rating_colour_map,

                capabilityTableFilters: {
                    status_id: this.getDefaultStatus(),
                    level: null
                },

                capabilityTableConfig: {
                    order: [[1, 'asc'], [2, 'asc'], [0, 'asc']],
                    simpleMode: false // its useful to be able to search capabilities from here
                },

                columnBuilder: new DatatableColumnBuilder()
                    .column('tree.qualified_name', 'qualified_name').searchable().visible(false) // just to allow searching on
                    .column('p.name', 'parent_name').visible(false) // just for sorting purposes
                    .column('c.name', 'name')
                        .width('60%')
                        .title('Capability')
                        .searchable()
                        .render((data, row) => {
                            return `<abbr title="${row.qualified_name}">${row.parent_name}</abbr> / <strong>${data}</strong>`
                        })
                    .column('created_at').title('Added').renderAsDate()
                    .column('approved_at').title('Approved').renderAsDate()
                    .column('requested_level')
                        .searchable()
                        .visible(() => this.capabilityTableFilters.status_id == this.$store.state.consts.CAPABILITY_STATUS.STATUS_PENDING)
                        .renderAsBadge('secondary')
                    .column('level')
                        .searchable()
                        .visible(() => this.capabilityTableFilters.status_id != this.$store.state.consts.CAPABILITY_STATUS.STATUS_PENDING)
                        .render((data, row) => {
                            let level = data || row.requested_level || ''
                            return customBadge(this.colors[level], level)
                        })
                    .column('status').visible(() => !this.capabilityTableFilters.status_id).renderAsBadge(row => row.status_cls)
            }
        },

        computed: {
            user() {
                return this.$store.state.profile.user
            },

            filteredStatus() {
                let statusId = this.capabilityTableFilters.status_id
                return this.$store.state.lookups.capability_status.find(status => status.id == statusId)
            },

            addCapabilitiesRoute() {
                return {
                    name: 'add_capabilities',
                    params: {
                        id: this.$store.state.profile.user.id 
                    }
                }
            }
        },

        methods: {
            // Work out the default capability status to show
            getDefaultStatus() {
                return this.$store.getters['profile/isMyProfile']
                    ? null // Viewing your own profile should show all capabilities by default
                    : this.$store.state.consts.CAPABILITY_STATUS.STATUS_APPROVED // for others we really just want to see what they have approved
            },

            prepareFormData(userCapability) {
                return {
                    ...userCapability,
                    requested_level: userCapability.requested_level || userCapability.level,
                    evidence: fileTemplateFromMedia(userCapability.evidence)
                }
            },

            getFormData(formData) {
                // Capability update endpoint only needs a couple of fields
                return {
                    requested_level: formData.requested_level,
                    comments: formData.comments,
                    evidence: formData.evidence
                }
            },
        }
    }
</script>
