<template>
    <div>
        <div class="form-row">
            <div class="col-xl">
                <stat-card :title="overallCoverageTitle" icon="fa-percentage">
                    {{ sumSelectedCapabilities / sumTotalCapabilities | percent }}
                </stat-card>
            </div>
            <div class="col-xl">
                <stat-card
                    :title="overallAverageTitle"
                    icon="fa-tasks-alt"
                    :color="colors[totalAverageFloored]"
                >
                    {{ collation.average_level | number(1) }}
                </stat-card>
            </div>
            <div v-if="collation.has_overall_ratings" class="col-xl">
                <stat-card
                    v-if="userCollationRating && userCollationRating.approved_at"
                    :title="collationApprovalTitle"
                    :tooltip="collationApprovalCardTooltip"
                    :color="colors[userCollationRating.rating]"
                    icon="fa-check-circle"
                >
                    {{ userCollationRating.rating }}
                </stat-card>
                <stat-card
                    v-else
                    :title="collationApprovalTitle"
                    color="#888888"
                    icon="fa-times-circle"
                    :tooltip="collationApprovalCardTooltip"
                >
                    Pending
                </stat-card>
            </div>
        </div>

        <table class="table table-sm mt-4">
            <thead>
                <tr>
                    <th>Discipline</th>
                    <th>Average Level</th>
                    <th><abbr v-b-tooltip.noninteractive title="How many capabilities approved vs the total number of capabilities in this discipline">Coverage</abbr></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="rating in capabilityRatings" :key="rating.id">
                    <td width="50%">{{ rating.name }}</td>
                    <td>
                        <span v-if="rating.average_level" :style="{backgroundColor: rating.color}" class="badge badge-primary">
                            {{ rating.average_level | number(1) }}
                        </span>
                    </td>
                    <td>
                        {{ rating.total_selected_capabilities / rating.total_capabilities | percent }}
                        ({{ rating.total_selected_capabilities }} out of {{ rating.total_capabilities }})
                    </td>
                </tr>
            </tbody>
        </table>

        <div v-if="collation.has_overall_ratings && collation.can_approve">
            <hr>
            <h4 class="text-primary">Approved Level</h4>
            <p class="form-text">
                You have permission to approve an overall rating level for <strong>{{ $store.state.profile.user.first_name }}</strong>
                in the area of <strong>{{ collation.name }}</strong>.
            </p>

            <div class="row mt-3">
                <div class="col-md-auto">
                    <div class="form-group">
                        <label>Set Approved Level</label>
                        <capability-level-buttons v-model="approvedLevel" />
                    </div>
                </div>
                <div v-if="userCollationRating && userCollationRating.rating" class="col-md-auto">
                    <div class="form-group">
                        <label>Approved</label>
                        <p class="form-control-plaintext">{{ userCollationRating.approved_at | date }} by {{ userCollationRating.approved_by_name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CapabilityLevelButtons from 'components/CapabilityLevelButtons'
    import { sumBy, get as getNestedProperty } from 'lodash-es'
    import { get, post } from 'utils/resource'
    import { timestamp } from 'utils/formats'
    import { yesNoModal } from 'utils/modals'
    import { resourceToast } from 'utils/toasts'
    import StatCard from 'components/StatCard'

    export default {
        props: {
            collation: {
                type: Object,
                required: true
            }
        },

        components: {
            CapabilityLevelButtons,
            StatCard
        },

        data() {
            return {
                capabilityRatings: [],
                colors: this.$store.state.app.rules.rating_colour_map,
                approvedLevel: getNestedProperty(this.collation, 'latest_user_collation_rating.rating')
            }
        },

        computed: {
            userCollationRating() {
                return this.collation.latest_user_collation_rating
            },

            sumTotalCapabilities() {
                return sumBy(this.capabilityRatings, 'total_capabilities')
            },

            sumSelectedCapabilities() {
                return sumBy(this.capabilityRatings, 'total_selected_capabilities')
            },

            totalAverageFloored() {
                return Math.floor(this.collation.average_level)
            },

            collationApprovalTitle() {
                return `${this.collation.name} Approved\xa0Level` // \xa0 = non breaking space
            },

            collationApprovalCardTooltip() {
                let rating = this.collation.latest_user_collation_rating
                if (rating && rating.approved_at) {
                    return `Approved by ${rating.approved_by_name} ${timestamp(rating.approved_at)}`
                }
                return `${this.$store.state.profile.user.first_name} does not yet have an overall approved level in ${this.collation.name}`
            },

            overallCoverageTitle() {
                return `Percent Complete (${this.sumSelectedCapabilities} out of ${this.sumTotalCapabilities})`
            },

            overallAverageTitle() {
                return `${this.collation.name} Average\xa0Level` // \xa0 = non breaking space
            }
        },

        watch: {
            approvedLevel(level) {
                if (!level || level == getNestedProperty(this.collation, 'latest_user_collation_rating.rating')) return

                yesNoModal('Approve Level', `Approve ${this.$store.state.profile.user.first_name} to <strong>Level ${level}</strong> in ${this.collation.name}?`)
                    .then(() => post(`collations/ratings/${this.collation.id}/${this.$store.state.profile.user.id}`, { rating: level }))
                    .then(res => {
                        resourceToast('approval level')
                        this.collation.latest_user_collation_rating = res
                    })
                    .catch(() => this.approvedLevel = getNestedProperty(this.collation, 'latest_user_collation_rating.rating'))
            }
        },

        mounted() {
            // Load users ratings for the collation
            get(`collations/ratings/${this.collation.id}/${this.$store.state.profile.user.id}`).then(data => {
                this.capabilityRatings = data.map(rating => {
                    return {
                        ...rating,
                        total_level: parseInt(rating.total_level) || 0,
                        average_level: parseFloat(rating.average_level) || 0,
                        total_capabilities: parseInt(rating.total_capabilities) || 0,
                        total_selected_capabilities: parseInt(rating.total_selected_capabilities) || 0,
                        color: this.colors[Math.floor(rating.average_level)],
                    }
                })

                Vue.nextTick(() => this.$emit('loaded'))
            })
        }
    }
</script>
