<template>
    <profile-entity-manager
        resource="user-country-experiences"
        entity="Country of Experience"
        :column-builder="columnBuilder"
        :prepare-form="prepareForm"
        disable-input-autofocus
        v-slot="slotProps"
        @loaded="$emit('loaded')"
    >

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="country">Select Country <span class="required"></span></label>
                <dropdown v-model="slotProps.form.country_id" :options="$store.state.lookups.country" id="country"></dropdown>
            </div>
            <div class="form-group col-md-4">
                <label for="num_years">Years of Experience</label>
                <input v-model="slotProps.form.num_years" type="number" class="form-control" id="num_years" step="0.5" />
            </div>
        </div>

    </profile-entity-manager>
</template>

<script>
    import DatatableColumnBuilder from 'components/datatables/datatableColumnBuilder'
    import ProfileEntityManager from '../ProfileEntityManager'

    export default {
        components: {
            ProfileEntityManager
        },

        data() {
            return {
                columnBuilder: new DatatableColumnBuilder()
                    .column('c.name', 'country').searchable()
                    .column('num_years').title('Years of Experience')
            }
        },

        methods: {
            prepareForm(data) {
                return {
                    country_id: null,
                    ...data,
                }
            }
        }
    }
</script>
