<template>
    <profile-entity-manager
        resource="user-documents"
        entity="Document"
        :column-builder="columnBuilder"
        :prepare-form="prepareForm"
        :additional-table-actions="additionalTableActions"
        add-button-text="Upload Document"
        :edit-function="editDocument"
        :table-config="tableConfig"
        show-delete
        @loaded="$emit('loaded')"
    >
        <template #default="slotProps">
            <div class="form-group">
                <label for="name">Name <span class="required"></span></label>
                <input v-model="slotProps.form.name" type="text" class="form-control" id="name" />
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input v-model="slotProps.form.description" type="text" class="form-control" id="description" />
            </div>

            <div class="form-group">
                <label for="type">Document Type <span class="required"></span></label>
                <select v-model="slotProps.form.type_id" class="form-control" id="type">
                    <option v-for="type in $store.state.lookups.document_type" :value="type.id" :key="type.id">
                        {{ type.value }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="expiry_date">File Upload</label>
                <file-selection v-model="slotProps.form.attachment" />
            </div>
        </template>

        <template #actions>
            <router-link :to="cvBuilderRoute" class="btn btn-primary">
                <span class="fal fa-fw" :class="$store.state.icons.cv_builder"></span> Build CV
            </router-link>
        </template>

    </profile-entity-manager>
</template>

<script>
    import DatatableColumnBuilder from 'components/datatables/datatableColumnBuilder'
    import FileSelection from 'components/forms/FileSelection'
    import ProfileEntityManager from '../ProfileEntityManager'
    import { bytes } from 'utils/formats'
    import { fileTemplateFromMedia, apiUrl } from 'utils/misc'
    import { badge } from 'utils/html'
    import { omit } from 'lodash-es'

    export default {
        components: {
            ProfileEntityManager,
            FileSelection
        },

        data() {
            return {
                tableConfig: {
                    order: [[5, 'desc']]
                },
                columnBuilder: new DatatableColumnBuilder()
                    .column('name').searchable()
                    .column('description').renderAsTruncatedText(60)
                    .column('t.value', 'type').searchable().renderAsBadge('info')
                    .column('m.size', 'size').render(data => badge('dark', bytes(data)))
                    .column('updated_at')
                        .title('Last Updated')
                        .searchable()
                        .renderAsTimestamp(),
                additionalTableActions: [
                    {
                        name: 'Download',
                        icon: 'fa-download',
                        variant: 'primary',
                        visible: row => row.media_id,
                        onClick: row => location.href = apiUrl(`media/${row.media_id}/download`)
                    }
                ]
            }
        },

        computed: {
            cvBuilderRoute() {
                return {
                    name: 'cv_builder',
                    params: {
                        id: this.$store.state.profile.user.id
                    }
                }
            }
        },

        methods: {
            prepareForm(form) {
                return {
                    type_id: this.$store.state.lookups.document_type[0].id,
                    ...omit(form, ['media']),
                    attachment: form.media && form.media[0] ? fileTemplateFromMedia(form.media[0]) : null,
                }
            },

            editDocument(userDocument) {
                // Custom override for CV builder documents - we can edit using the CV Builder
                if (userDocument && userDocument.cv_builder_data) {
                    this.$router.push({
                        name: 'cv_builder',
                        params: {
                            id: userDocument.user_id,
                            cvId: userDocument.id
                        }
                    })
                    return true
                }
            }
        }
    }
</script>
