<template>
    <profile-entity-manager
        resource="user-education"
        entity="Education History"
        :column-builder="columnBuilder"
        :prepareForm="prepareForm"
        :additional-table-actions="additionalTableActions"
        :table-config="tableConfig"
        v-slot="slotProps"
        @loaded="$emit('loaded')"
    >

        <div class="form-group">
            <label for="qualification">Qualification / Course <span class="required"></span></label>
            <input v-model="slotProps.form.qualification" type="text" class="form-control" id="qualification" />
        </div>

        <div class="form-group">
            <label for="institute">Institute <span class="required"></span></label>
            <input v-model="slotProps.form.institute" type="text" class="form-control" id="institute" />
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="year">Year <span class="required"></span></label>
                <input v-model="slotProps.form.year" type="number" class="form-control" id="year" placeholder="YYYY" />
            </div>
            <div class="form-group col-md-8">
                <label><abbr v-b-tooltip.noninteractive title="Do you want to include this education as part of your professional development?">Professional Development?</abbr></label>
                <toggle-button v-model="slotProps.form.is_professional_development" class="d-block" />
            </div>
        </div>

        <div class="form-group">
            <label for="expiry_date">Attach Qualification</label>
            <file-input v-model="slotProps.form.attachment" />
        </div>

    </profile-entity-manager>
</template>

<script>
    import DatatableColumnBuilder from 'components/datatables/datatableColumnBuilder'
    import ProfileEntityManager from '../ProfileEntityManager'
    import { apiUrl, fileTemplateFromMedia } from 'utils/misc'
    import { icon } from 'utils/html'

    export default {
        components: {
            ProfileEntityManager
        },

        data() {
            return {
                tableConfig: {
                    order: [[3, 'desc']]
                },
                
                additionalTableActions: [
                    {
                        name: 'Download',
                        icon: 'fa-download',
                        variant: 'primary',
                        visible: row => row.attachment,
                        onClick: row => location.href = apiUrl(`media/${row.attachment.id}/download`)
                    }
                ],

                prepareForm(form) {
                    return {
                        is_professional_development: false,
                        ...form,
                        attachment: fileTemplateFromMedia(form.attachment)
                    }
                },

                columnBuilder: new DatatableColumnBuilder()
                    .column('qualification')
                        .title('Qualification / Course')
                        .searchable()
                    .column('institute').searchable()
                    .column('year').searchable()
                    .column('is_professional_development')  
                        .title(icon('fa-briefcase', 'Is Professional Development'))
                        .renderAsBoolean()
            }
        }
    }
</script>
