<template>
    <div>
        <h5><span class="fal fa-fw mr-1 fa-id-card"></span> Health &amp; Safety / Certificates</h5>

        <profile-entity-manager
            resource="user-hscertificates"
            entity="Health and Safety Certificate"
            :column-builder="hsColumnBuilder"
            :prepareForm="prepareHSForm"
            :additional-table-actions="additionalTableActions"
            disable-input-autofocus
            v-slot="slotProps"
            @loaded="onDatasetLoaded"
        >

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="hs_certificate">Select H&amp;S Certificate <span class="required"></span></label>
                    <dropdown v-model="slotProps.form.certificate_id" :options="$store.state.lookups.hs_certificates" label="name" id="hs_certificate"></dropdown>
                </div>
                <div class="form-group col-md-4">
                    <label for="hs_certificate">Expiry date</label>
                    <datepicker v-model="slotProps.form.expiry_date"></datepicker>
                </div>
            </div>

            <div class="form-group">
                <label for="expiry_date">Attach H&S Certificate</label>
                <file-input v-model="slotProps.form.attachment" />
            </div>

        </profile-entity-manager>

        <h5 class="mt-5"><span class="fal fa-fw mr-1" :class="$store.state.icons.medical"></span> Medicals</h5>
        <profile-entity-manager
            resource="user-medicals"
            entity="Medical"
            :column-builder="medicalsColumnBuilder"
            :prepare-form="prepareMedicalsForm"
            disable-input-autofocus
            :table-config="medicalsTableConfig"
            v-slot="slotProps"
            @loaded="onDatasetLoaded"
        >

            <div class="form-group">
                <label for="type">Select Type <span class="required"></span></label>
                <dropdown v-model="slotProps.form.type_id" :options="$store.state.lookups.medical" label="value" id="type"></dropdown>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Completed Date <span class="required"></span></label>
                    <datepicker v-model="slotProps.form.last_completed_date" />
                </div>
                <div class="form-group col-md-6">
                    <label>Next Test Date</label>
                    <datepicker v-model="slotProps.form.next_due_date" />
                </div>
            </div>

            <div class="form-group">
                <label for="comments">Comments</label>
                <input v-model="slotProps.form.comments" id="comments" type="text" class="form-control">
            </div>

        </profile-entity-manager>

        <h5 class="mt-5"><span class="fal fa-fw mr-1 fa-key"></span> Security Clearances</h5>

        <profile-entity-manager
            resource="user-security-clearances"
            entity="Security Clearance"
            :column-builder="securityColumnBuilder"
            :prepare-form="prepareSecurityForm"
            disable-input-autofocus
            v-slot="slotProps"
            @loaded="onDatasetLoaded"
        >

            <div class="form-group">
                <label for="type">Select Type <span class="required"></span></label>
                <dropdown v-model="slotProps.form.type_id" :options="$store.state.lookups.security_clearance_type" label="value" id="type"></dropdown>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="country">Select Country <span class="required"></span></label>
                    <dropdown v-model="slotProps.form.country_id" :options="$store.state.lookups.country" id="country"></dropdown>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Expiry Date</label>
                    <datepicker v-model="slotProps.form.expiry_date" />
                </div>
            </div>

            <div class="form-group">
                <label for="expiry_date">Comments</label>
                <input v-model="slotProps.form.comments" type="text" class="form-control" placeholder="Any additional info visible to others">
            </div>

        </profile-entity-manager>
    </div>
</template>

<script>
    import DatatableColumnBuilder from 'components/datatables/datatableColumnBuilder'
    import ProfileEntityManager from '../ProfileEntityManager'
    import { apiUrl, fileTemplateFromMedia } from 'utils/misc'

    export default {
        components: {
            ProfileEntityManager
        },

        data() {
            return {
                // Tracks what datasets have been loaded
                // so we can emit the loaded event at the right time for the accordion
                datasetsLoaded: 0,
                datasetsToLoad: 3,

                // Only needed so we can watch changes
                medicalsForm: {},

                medicalsTableConfig: {
                    order: [[3, 'asc'], [2, 'desc']]
                },

                hsColumnBuilder: new DatatableColumnBuilder()
                    .column('l.name', 'certificate').searchable()
                    .column('expiry_date').searchable().renderAsDate(),
                medicalsColumnBuilder: new DatatableColumnBuilder()
                    .column('l.value', 'type').searchable().renderAsBadge('info')
                    .column('last_completed_date').renderAsDate()
                    .column('next_due_date').renderAsTimestamp('')
                    .column('comments'),
                securityColumnBuilder: new DatatableColumnBuilder()
                    .column('t.value', 'type').searchable().renderAsBadge(row => row.type_cls)
                    .column('c.name', 'country').searchable()
                    .column('expiry_date').renderAsDate()
                    .column('comments'),

                additionalTableActions: [
                    {
                        name: 'Download',
                        icon: 'fa-download',
                        variant: 'primary',
                        visible: row => row.attachment,
                        onClick: row => location.href = apiUrl(`media/${row.attachment.id}/download`)
                    }
                ],
            }
        },

        computed: {
            selectedMedicalType() {
                return this.$store.state.lookups.medical.find(m => m.id == this.medicalsForm.type_id)
            }
        },

        methods: {
            prepareHSForm(form) {
                return {
                    certificate_id: null,
                    expiry_date: null,
                    ...form,
                    attachment: fileTemplateFromMedia(form.attachment)
                }
            },

            prepareMedicalsForm(form) {
                return this.medicalsForm = {
                    type_id: null,
                    last_completed_date: null,
                    next_due_date: null,
                    ...form
                }
            },

            prepareSecurityForm(form) {
                return {
                    type_id: null,
                    country_id: null,
                    ...form
                }
            },

            onDatasetLoaded() {
                this.datasetsLoaded++
                if (this.datasetsLoaded >= this.datasetsToLoad) {
                    this.$emit('loaded')
                }
            },

            tryCalculateNextTestDate() {
                let date = this.medicalsForm.last_completed_date
                if (date && this.selectedMedicalType && this.selectedMedicalType.meta1) {
                    this.medicalsForm.next_due_date = moment(date).add(this.selectedMedicalType.meta1, 'years')
                }
            }
        },

        watch: {
            'medicalsForm.last_completed_date'() {
                this.tryCalculateNextTestDate()
            },
            'medicalsForm.type_id'() {
                this.tryCalculateNextTestDate()
            }
        }
    }
</script>
