<template>
    <profile-entity-manager
        resource="user-languages"
        entity="Language"
        :column-builder="columnBuilder"
        :prepareForm="prepareForm"
        disable-input-autofocus
        v-slot="slotProps"
        @loaded="$emit('loaded')"
    >

        <div class="form-group">
            <label for="language">Select Language <span class="required"></span></label>
            <dropdown v-model="slotProps.form.language_id" :options="$store.state.lookups.language" label="value" id="language"></dropdown>
        </div>

        <div v-if="selectedLanguage" class="form-group">
            <label for="fluency">How fluent are you in <strong>{{ selectedLanguage.value }}</strong>? <span class="required"></span></label>
            <language-fluency-options id="fluency" v-model="slotProps.form.fluency" :language="selectedLanguage" />
        </div>

    </profile-entity-manager>
</template>

<script>
    import DatatableColumnBuilder from 'components/datatables/datatableColumnBuilder'
    import LanguageFluencyOptions from 'components/forms/LanguageFluencyOptions'
    import ProfileEntityManager from '../ProfileEntityManager'
    import { keyBy } from 'lodash-es'
    import { badge } from 'utils/html'

    export default {
        components: {
            ProfileEntityManager,
            LanguageFluencyOptions
        },

        data() {
            return {
                form: {},
                fluencyById: keyBy(this.$store.state.lookups.language_fluency.concat(this.$store.state.lookups.language_fluency_rating), 'id'),
                columnBuilder: new DatatableColumnBuilder()
                    .column('l.value', 'language').searchable()
                    .column('fluency').title('Fluency')
                        .unsortable()
                        .render(data => {
                            return data.map(id => badge('info', this.fluencyById[id].value)).join(' ')
                        })
            }
        },

        computed: {
            selectedLanguage() {
                return this.$store.state.lookups.language.find(l => l.id == this.form.language_id)
            }
        },

        methods: {
            prepareForm(data) {
                return this.form = {
                    language_id: null,
                    fluency: [],
                    ...data,
                }
            }
        }
    }
</script>
