<template>
    <div>
        <div v-if="user.can_update_profile" class="form-group mb-5">
            <b-form-checkbox v-model="availableForMentoring" @change="onMentoringAvailabilityToggled">
                <span title="Uncheck this option to prevent users from submitting any new mentoring requests" v-b-tooltip>Currently available for mentoring?</span>
            </b-form-checkbox>
        </div>
        <p v-else-if="!availableForMentoring" class="text-danger">
            <span class="fal fa-info-circle mr-1"></span> Not currently available for new mentoring requests
        </p>

        <h5><span class="fal fa-fw mr-1" :class="$store.state.icons.mentoring_areas"></span> Mentoring Areas</h5>

        <profile-entity-manager
            ref="user-mentoring-areas"
            resource="user-mentoring-areas"
            entity="Mentoring Area(s)"
            :column-builder="mentoringAreaColumnBuilder"
            :prepareForm="prepareMentoringAreaForm"
            :additional-table-actions="mentoringAreaTableActions"
            disable-input-autofocus
            no-edit
            :get="getMentoringAreaFormData"
            @loaded="$emit('loaded')"
        >

            <div class="form-group">
                <label for="mentoring_area">Select Mentoring Area(s)<span class="required"></span></label>
                <p class="form-text">Your manager will need to approve any new mentoring areas you select</p>
                <div class="autoscroll max-height-400">
                    <toggle-button v-for="area in availableMentoringAreas" :key="area.id" v-model="area.selected" class="mb-1 mr-1">{{ area.name }}</toggle-button>
                </div>
            </div>

        </profile-entity-manager>

        <div v-if="$store.getters['profile/isMyProfile']">
            <h5 class="mt-5"><span class="fal fa-fw mr-1 fa-hands-helping"></span> Mentoring Agreements</h5>
            <p class="form-text">This section can only be viewed by you</p>

            <profile-entity-manager
                resource="mentoring-agreements"
                entity="Mentoring Agreement"
                :column-builder="mentoringAgreementBuilder"
                :table-config="mentoringAgreementTableConfig"
                read-only
            />
        </div>

    </div>
</template>

<script>
    import DatatableColumnBuilder from 'components/datatables/datatableColumnBuilder'
    import ProfileEntityManager from '../ProfileEntityManager'
    import { BFormCheckbox } from 'bootstrap-vue'
    import { badge } from 'utils/html'
    import { genericToast } from 'utils/toasts'
    import { post } from 'utils/resource'
    import { keyBy } from 'lodash-es'

    export default {
        components: {
            ProfileEntityManager,
            BFormCheckbox
        },

        data() {
            return {
                userMentoringAreas: [],
                availableForMentoring: this.$store.state.profile.user.is_available_for_mentoring,
                mentoringAreaTableActions: [
                    {
                        name: 'Request Mentoring',
                        icon: 'fa-plus',
                        variant: 'info',
                        visible: row => row.approved_by && this.canAddMentoringRequest,
                        onClick: row => this.$router.push({
                            name: 'request_mentoring',
                            params: {
                                id: this.user.id,
                                area: row.mentoring_area_id
                            }
                        })
                    }
                ],

                form: {},

                mentoringAreaColumnBuilder: new DatatableColumnBuilder()
                    .column('ma.name', 'mentoring_area')
                    .column('approved_at').title('Status').render(data => {
                        return data ? badge('success', 'Approved') : badge('secondary', 'Pending')
                    })
                    .column('created_at').title('Date Added').renderAsDate(),

                mentoringAgreementTableConfig: {
                    order: [[5, 'desc']]
                },
                
                mentoringAgreementBuilder: new DatatableColumnBuilder()
                    .column('mentor_id').title('Role').render(data => {
                        return data == this.$store.state.profile.user.id
                            ? badge('success', 'Mentor')
                            : badge('purple', 'Mentee')
                    })
                    .column('ma.name', 'mentoring_area').searchable()
                    .column('mentor.name', 'mentor_name').searchable().renderAsLink(row => `profile/${row.mentor_id}`)
                    .column('mentee.name', 'mentee_name').searchable().renderAsLink(row => `profile/${row.mentee_id}`)
                    .column('starts_on').renderAsDate()
                    .column('ends_on').renderAsDate()
                    .column('st.value', 'status').renderAsBadge(row => row.status_cls)
                    .actionsColumn([
                        {
                            name: 'Details',
                            icon: 'fa-search',
                            variant: 'primary',
                            onClick: row => this.$router.push({
                                name: 'mentoring_agreement',
                                params: {
                                    id: row.id,
                                }
                            })
                        }
                    ])
            }
        },

        computed: {
            user() {
                return this.$store.state.profile.user
            },

            availableMentoringAreas() {
                let selectedMentoringAreasById = keyBy(this.user.mentoring_areas, 'id')
                return this.$store.state.lookups.mentoring_areas.map(ma => ({
                    ...ma,
                    selected: !!selectedMentoringAreasById[ma.id]
                }))
            },

            canAddMentoringRequest() {
                return this.availableForMentoring && 
                    !this.$store.getters['profile/isMyProfile'] // cant mentor yourself!
            }
        },

        methods: {
            prepareMentoringAreaForm(data) {
                return this.form = {
                    mentoring_area_id: null,
                    ...data,
                }
            },

            getMentoringAreaFormData() {
                return {
                    mentoring_area_ids: this.availableMentoringAreas
                        .filter(ma => ma.selected)
                        .map(ma => ma.id)
                }
            },

            async onMentoringAvailabilityToggled() {
                await post(`users/${this.user.id}/toggle-mentoring-status`)
                genericToast('Mentoring status updated!')
                this.$refs['user-mentoring-areas'].refresh()
            }
        },

        watch: {
            user(user) {
                this.availableForMentoring = user.is_available_for_mentoring
            },
        }
    }
</script>
