<template>
    <profile-entity-manager
        resource="user-pmaf"
        entity="PMAF"
        :column-builder="columnBuilder"
        :table-config="tableConfig"
        read-only
        @loaded="$emit('loaded')"
    />
</template>

<script>
    import DatatableColumnBuilder from 'components/datatables/datatableColumnBuilder'
    import ProfileEntityManager from '../ProfileEntityManager'

    export default {
        components: {
            ProfileEntityManager
        },

        data() {
            return {
                tableConfig: {
                    order: [[2, 'asc']]
                },
                columnBuilder: new DatatableColumnBuilder()
                    .column('pmaf_date').title('Date Issued').renderAsDate()
                    .column('discipline').searchable()
                    .column('comments').searchable()
                    .column('tier').searchable().renderAsBadge('primary')
            }
        }
    }
</script>
