<template>
    <div>
        <h5><span class="fal fa-fw mr-1" :class="$store.state.icons.experience"></span> Professional Experience</h5>

        <profile-entity-manager
            resource="user-professional-experiences"
            entity="Professional Experience"
            :column-builder="experienceColumnBuilder"
            :prepareForm="prepareExperienceForm"
            :table-config="experienceTableConfig"
            v-slot="slotProps"
            @loaded="onDatasetLoaded"
            @saved="onProfessionalExperienceSaved"
        >

            <div class="form-group">
                <label for="area_of_expertise">Area of Expertise</label>
                <input v-model="slotProps.form.area_of_expertise" type="text" id="area_of_expertise" class="form-control">
            </div>

            <div class="form-group">
                <label for="title">Project Title <span class="required"></span></label>
                <input v-model="slotProps.form.title" type="text" id="title" class="form-control">
            </div>

            <div class="form-group">
                <label for="client">Client Name <span class="required"></span></label>
                <input v-model="slotProps.form.client" type="text" class="form-control" id="client" placeholder="Name of client">
            </div>

            <div class="form-group">
                <label for="role">Role on Project <span class="required"></span></label>
                <input v-model="slotProps.form.role" type="text" class="form-control" id="role">
            </div>

            <year-range
                :start="slotProps.form.start_year"
                @start="slotProps.form.start_year = $event"
                :end="slotProps.form.end_year"
                @end="slotProps.form.end_year = $event"
            />

            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input v-model="slotProps.form.city" type="text" id="city" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="state">State / Region</label>
                        <input v-model="slotProps.form.state" type="text" id="state" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="country">Select Country <span class="required"></span></label>
                <dropdown v-model="slotProps.form.country_id" :options="$store.state.lookups.country" id="country"></dropdown>
            </div>

            <div class="form-group">
                <label for="description">Brief project description and responsibilities on it</label>
                <textarea v-model="slotProps.form.description" rows="4" type="text" id="description" class="form-control" />
            </div>

        </profile-entity-manager>

        <h5 class="mt-5"><span class="fal fa-fw mr-1" :class="$store.state.icons.history"></span> Professional History / Work Experience</h5>

        <profile-entity-manager
            resource="user-professional-history"
            entity="Professional History"
            :column-builder="historyColumnBuilder"
            :prepareForm="prepareHistoryForm"
            :table-config="historyTableConfig"
            v-slot="slotProps"
            @loaded="onDatasetLoaded"
        >

            <div class="form-group">
                <label for="role">Role / Job title <span class="required"></span></label>
                <input v-model="slotProps.form.role" type="text" id="role" class="form-control">
            </div>

            <div class="form-group">
                <label for="company">Company <span class="required"></span></label>
                <input v-model="slotProps.form.company" type="text" id="company" class="form-control">
            </div>

            <year-range
                :start="slotProps.form.start_year"
                @start="slotProps.form.start_year = $event"
                :end="slotProps.form.end_year"
                @end="slotProps.form.end_year = $event"
            />

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="country">Select Country <span class="required"></span></label>
                    <dropdown v-model="slotProps.form.country_id" :options="$store.state.lookups.country" id="country"></dropdown>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea v-model="slotProps.form.description" rows="4" type="text" id="description" class="form-control" />
            </div>

        </profile-entity-manager>
    </div>
</template>

<script>
    import DatatableColumnBuilder from 'components/datatables/datatableColumnBuilder'
    import ProfileEntityManager from '../ProfileEntityManager'
    import localforage from 'localforage'
    import { yearRange } from 'utils/formats'

    export default {
        components: {
            ProfileEntityManager
        },

        data() {
            return {
                // Tracks what datasets have been loaded
                // so we can emit the loaded event at the right time for the accordion
                datasetsLoaded: 0,
                datasetsToLoad: 2,

                experienceTableConfig: {
                    order: [[5, 'desc']]
                },

                historyTableConfig: {
                    order: [[3, 'desc']]
                },

                experienceColumnBuilder: new DatatableColumnBuilder()
                    .column('area_of_expertise').searchable()
                    .column('title').title('Project Title').searchable()
                    .column('role').searchable()
                    .column('client').searchable()
                    .column('start_year')
                        .title('Year')
                        .render((data, row) => yearRange(data, row.end_year)),

                historyColumnBuilder: new DatatableColumnBuilder()
                    .column('role').searchable()
                    .column('company').searchable()
                    .column('start_year')
                        .title('Year')
                        .render((data, row) => yearRange(data, row.end_year))
            }
        },

        methods: {
            async prepareExperienceForm(data) {
                let defaults = await localforage.getItem('professional-experience-form-defaults')
                return {
                    country_id: this.$store.state.profile.user.country_id,
                    ...defaults,
                    ...data,
                }
            },

            prepareHistoryForm(data) {
                return {
                    country_id: this.$store.state.profile.user.country_id,
                    ...data,
                }
            },

            onDatasetLoaded() {
                this.datasetsLoaded++
                if (this.datasetsLoaded >= this.datasetsToLoad) {
                    this.$emit('loaded')
                }
            },

            onProfessionalExperienceSaved(form) {
                // Persist a few items to be used as defaults the next time round
                localforage.setItem('professional-experience-form-defaults', {
                    area_of_expertise: form.area_of_expertise,
                    role: form.role,
                    state: form.state,
                    city: form.city,
                    country_id: form.country_id
                })
            }
        }
    }
</script>
