<template>
    <div>
        <h5><span class="fal fa-fw mr-1 fa-id-card"></span> Professional Registrations</h5>

        <profile-entity-manager
            resource="user-professional-registrations"
            entity="Professional Registration"
            :column-builder="registrationsColumnBuilder"
            :prepare-form="prepareRegistrationForm"
            :additional-table-actions="additionalTableActions"
            disable-input-autofocus
            v-slot="slotProps"
            @loaded="onDatasetLoaded"
        >

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="country">Filter Registrations by Country</label>
                    <dropdown
                        v-model="selectedCountryId"
                        :options="filteredRegistrationCountries"
                        id="country"
                    />
                </div>
            </div>

            <div class="form-group">
                <label for="registration">Select Registration <span class="required"></span></label>
                <dropdown
                    v-model="slotProps.form.registration_id"
                    :options="filteredRegistrations"
                    label="name"
                    id="registration"
                />
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Expiry Date</label>
                    <datepicker v-model="slotProps.form.expiry_date" />
                </div>
            </div>

            <div class="form-group">
                <label for="attach_registration">Attach Registration</label>
                <file-input id="attach_registration" v-model="slotProps.form.attachment" />
            </div>

        </profile-entity-manager>

        <h5 class="mt-5"><span class="fal fa-fw mr-1 fa-users"></span> Professional Memberships</h5>

        <profile-entity-manager
            resource="user-professional-memberships"
            entity="Professional Membership"
            :column-builder="membershipColumnBuilder"
            :prepare-form="prepareMembershipForm"
            :additional-table-actions="additionalTableActions"
            disable-input-autofocus
            v-slot="slotProps"
            @loaded="onDatasetLoaded"
        >

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="country">Filter Memberships by Country</label>
                    <dropdown
                        v-model="selectedCountryId"
                        :options="filteredMembershipCountries"
                        id="country"
                    />
                </div>
            </div>

            <div class="form-group">
                <label for="membership">Select Membership <span class="required"></span></label>
                <dropdown v-model="slotProps.form.membership_id" :options="filteredMemberships" label="name" id="membership"></dropdown>
            </div>

            <div class="form-group">
                <label for="type">Membership Type</label>
                <b-form-radio-group
                    class="d-block"
                    id="type"
                    v-model="slotProps.form.type_id"
                    :options="membershipTypes"
                    button-variant="outline-primary"
                    buttons
                />
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Expiry Date</label>
                    <datepicker v-model="slotProps.form.expiry_date" />
                </div>
            </div>

            <div class="form-group">
                <label for="expiry_date">Attach Membership</label>
                <file-input v-model="slotProps.form.attachment" />
            </div>

        </profile-entity-manager>
    </div>
</template>

<script>
    import DatatableColumnBuilder from 'components/datatables/datatableColumnBuilder'
    import ProfileEntityManager from '../ProfileEntityManager'
    import { BFormRadioGroup } from 'bootstrap-vue'
    import { apiUrl, fileTemplateFromMedia } from 'utils/misc'
    import { keyBy } from 'lodash-es'

    export default {
        components: {
            ProfileEntityManager,
            BFormRadioGroup
        },

        data() {
            return {
                // Tracks what datasets have been loaded
                // so we can emit the loaded event at the right time for the accordion
                datasetsLoaded: 0,
                datasetsToLoad: 2,

                selectedCountryId: this.$store.state.profile.user.country_id, // for filtering purposes

                membershipTypes: this.$store.state.lookups.professional_membership_type.map(lookup => ({
                    text: lookup.value,
                    value: lookup.id
                })),

                registrationsColumnBuilder: new DatatableColumnBuilder()
                    .column('r.name', 'registration').searchable()
                    .column('expiry_date').renderAsDate(),

                additionalTableActions: [
                    {
                        name: 'Download',
                        icon: 'fa-download',
                        variant: 'primary',
                        visible: row => row.attachment,
                        onClick: row => location.href = apiUrl(`media/${row.attachment.id}/download`)
                    }
                ],
                
                membershipColumnBuilder: new DatatableColumnBuilder()
                    .column('m.name', 'membership').searchable()
                    .column('t.value', 'type').searchable().renderAsBadge('info')
                    .column('expiry_date').renderAsDate()
            }
        },

        computed: {
            filteredRegistrations() {
                return this.selectedCountryId
                    ? this.$store.state.lookups.professional_registrations.filter(r => !r.country_id || r.country_id == this.selectedCountryId)
                    : this.$store.state.lookups.professional_registrations
            },

            filteredMemberships() {
                return this.selectedCountryId
                    ? this.$store.state.lookups.professional_memberships.filter(m => !m.country_id || m.country_id == this.selectedCountryId)
                    : this.$store.state.lookups.professional_memberships
            },

            filteredRegistrationCountries() {
                let registrationsByCountry = keyBy(this.$store.state.lookups.professional_registrations, 'country_id')
                return this.$store.state.lookups.country.filter(c => registrationsByCountry[c.id])
            },

            filteredMembershipCountries() {
                let membershipsByCountry = keyBy(this.$store.state.lookups.professional_memberships, 'country_id')
                return this.$store.state.lookups.country.filter(c => membershipsByCountry[c.id])
            }
        },

        methods: {
            prepareRegistrationForm(form) {
                return {
                    registration_id: null,
                    ...form,
                    attachment: fileTemplateFromMedia(form.attachment)
                }
            },
            
            prepareMembershipForm(form) {
                return {
                    membership_id: null,
                    type_id: null,
                    ...form,
                    attachment: fileTemplateFromMedia(form.attachment)
                }
            },

            onDatasetLoaded() {
                this.datasetsLoaded++
                if (this.datasetsLoaded >= this.datasetsToLoad) {
                    this.$emit('loaded')
                }
            }
        }
    }
</script>
