<template>
    <profile-entity-manager
        resource="user-professional-achievements"
        entity="Achievement"
        :column-builder="columnBuilder"
        v-slot="slotProps"
        :prepare-form="prepareForm"
        :table-config="tableConfig"
        @loaded="$emit('loaded')"
    >

        <div class="form-group">
            <label for="type">Type <span class="required"></span></label>
            <b-form-radio-group
                class="d-block"
                id="type"
                v-model="slotProps.form.type_id"
                :options="types"
                button-variant="outline-primary"
                buttons
            />
        </div>

        <div v-if="slotProps.form.type_id != undefined">
            <div class="form-group">
                <label for="title">{{ titleLabel }} <span class="required"></span></label>
                <input v-model="slotProps.form.title" type="text" class="form-control" id="title" />
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea v-model="slotProps.form.description" rows="3" type="text" class="form-control" id="description" :placeholder="descriptionPlaceholder" />
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="year">Year <span class="required"></span></label>
                    <input v-model="slotProps.form.year" type="number" class="form-control" id="year" placeholder="YYYY" />
                </div>
            </div>
        </div>

    </profile-entity-manager>
</template>

<script>
    import DatatableColumnBuilder from 'components/datatables/datatableColumnBuilder'
    import ProfileEntityManager from '../ProfileEntityManager'
    import { BFormRadioGroup } from 'bootstrap-vue'

    export default {
        components: {
            ProfileEntityManager,
            BFormRadioGroup
        },

        data() {
            return {
                form: {},
                types: this.$store.state.lookups.professional_achievement.map(lookup => ({
                    text: lookup.value,
                    value: lookup.id
                })),
                tableConfig: {
                    order: [[4, 'desc']]
                },
                columnBuilder: new DatatableColumnBuilder()
                    .column('l.value', 'type').renderAsBadge('info')
                    .column('title').searchable()
                    .column('description').searchable()
                    .column('year').searchable(),
            }
        },

        computed: {
            titleLabel() {
                switch (this.form.type_id) {
                    case this.$store.state.consts.PROFESSIONAL_ACHIEVEMENT.TYPE_AWARD:
                        return 'Award Title'
                    case this.$store.state.consts.PROFESSIONAL_ACHIEVEMENT.TYPE_PRESENTATION:
                        return 'Presentation Title'
                    default:
                        return 'Published Article Title'
                }
            },

            descriptionPlaceholder() {
                switch (this.form.type_id) {
                    case this.$store.state.consts.PROFESSIONAL_ACHIEVEMENT.TYPE_AWARD:
                        return 'Short description of award if necessary'
                    case this.$store.state.consts.PROFESSIONAL_ACHIEVEMENT.TYPE_PRESENTATION:
                        return 'Conference or Event Name, City, Country Abbreviation. Month, Year'
                    default:
                        return 'Publication, Month Year, pp. Page # – Page #'
                }
            }
        },

        methods: {
            prepareForm(form) {
                return this.form = {
                    type_id: null,
                    ...form
                }
            }
        }
    }
</script>
